body{
    margin: 0;
    position: relative;
    min-height: 100vh;
    top: 0px;

    background-image: url(corning-hospital.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainthing{
    width: 100%;
    background-color: rgb(6, 167, 140);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainthing h1{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
} 

.nav-options_center{
    margin: 0px 0px 0px 0px;
    width: 100%;
    background-color: rgb(22, 188, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
}

.nav-options_center-btn{
    display: flex;
    justify-content:space space-between;
    align-items: center;
    padding: 5px;
    margin: 0 10px;
    box-sizing: border-box;
}

.nav-options_center-btn:hover{
    background: rgb(6, 167, 140);
}

.nav-options_center-btn i {
    margin-right: 5px;
}

.search{
    width: 100%;
    background-color: rgb(6, 167, 140);
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-search{
    position: absolute;
    top: calc(60vh - 35px);
    left: calc(60vw - 400px);
    display: flex;
    justify-content: center;
}

.content-wrapper{
    position: relative;
    width: 100%;
    height: 55px;
    min-width: 640px;
    max-width: 640px;
}

.content-input{
    box-sizing: border-box;
    background-color: rgb(230, 238, 237);
    padding: 14px;
    width: 100%;
    font-size: 1.1rem;
    transition: border 0.4s;
    height: 50px !important;
    color: #e8e6e3;
    border: 0 !important;
}

.content-input:focus{
    outline: solid 2px #11c069;
}

.content-icon{
    position: absolute;
    top: 15px;
    right: 8px;
    color: #fff;
    font-size: 18px;
}

.single-banner{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    background-color: rgb(6, 167, 140);
    color: rgb(232, 230, 227);
    box-sizing: border-box;   
}

.single-banner-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}