body{
    margin: 0;
    opacity: 1;
    position: relative;
    min-height: 100vh;
    top: 0px;
}

.header{
    width: 100%;
    position: fixed;
    z-index: 100;
}

.nav-options{
    min-height: 38px;
    background-color: rgb(3, 86, 122);
    color: rgb(232, 230, 227);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 25px;
    padding-right: 25px;
}

.nav-options__left{
    font-size: 20px;
}

.nav-options__left i{
    margin : 0 3px;
}

.nav-options__right{

}

.nav-options__right-link{
    margin: 0 10px 0 10px;
    font-size: .9em;
    color: rgb(232, 230, 227);
    text-decoration: none;
}

.nav-options__right-btn{
    margin: 0 4px 0 4px;
    color: rgb(232, 230, 227);
    border: 1px solid rgb(3, 86, 122);
    border-color: rgb(5, 142, 203);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.nav-options__right-btn:hover{
    color: rgb(232, 230, 227);
    background-color: rgb(2, 66, 94);
    border-color: rgb(5, 150, 213);
}

.nav-options__right-link i,
.nav-options__right-btn i
{
    margin-right: 4px;
}

.nav-navigation{
    width: 100%;
    background-color: rgb(24, 26, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-navigation__bear{
    height: 80px;
}

.nav-navigation__bear img{
    height: 100%;
}

.nav-navigation h1{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.content{

}

.single-banner{
    position: relative;
    height: 100vh;
    background-image: url(img/rawImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.explore{
    width: 100%;
}

.explore-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.explore-card{
    width: 25%;
}

.explore-card__img{
    width: 100%;
}

.explore-card__title{
    margin-top: 15px;
    text-align: center;
    color: rgb(232, 230, 227);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 1.5;
}

.single-banner-footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background: #000;
    color: rgb(232, 230, 227);
}

.single-banner-footer__title{

}

.single-banner-footer__title h3,
.single-banner-footer__title p,
.single-banner-footer__link h3,
.single-banner-footer__link h3,
.single-banner-footer__link p{
    box-sizing: border-box;
    color: rgb(226, 223, 219);
    text-shadow: rgb(0 0 0) 2px 2px;
}

.single-banner-footer__title h3{
    margin-top: 15px;
    font-size: 1.3em;
}

.single-banner-footer__title p{
    font-size: 1em;
}

.single-banner-footer__title,
.single-banner-footer__link,
.single-banner-footer__subtitle{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.single-banner-footer__link{
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.single-banner-footer__link h3{
    font-size: 1.7em;
}

.single-banner-footer__link .icon{
    margin-top: 15px;
    font-size: 2em;
}

.single-banner-footer__subtitle h3{
    margin-top: 15px;
}

.single-banner-footer__subtitle p{
    font-size: 1.3em;
}

.content-search{
    position: absolute;
    top: calc(50vh - 27.5px);
    left: calc(50vw - 320px);
    display: flex;
    justify-content: center;
    display: none;
}

.content-wrapper{
    position: relative;
    width: 100%;
    height: 55px;
    min-width: 640px;
    max-width: 640px;
}

.content-input{
    box-sizing: border-box;
    background-color: rgb(24, 26, 27);
    padding: 14px;
    width: 100%;
    font-size: 1.1rem;
    transition: border 0.4s;
    height: 50px !important;
    color: #e8e6e3;
    border: 0 !important;
}

.content-input:focus{
    outline: solid 2px #2ea3f2;
}

.content-icon{
    position: absolute;
    top: 15px;
    right: 8px;
    color: #fff;
    font-size: 18px;
}

.explore-wrapper{

}

.explore-card{
    cursor: pointer;
}

.explore-card__title{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    color: rgb(221, 218, 214);
}

.explore-card__icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color : #fff;
}

.explode-info-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 32, 33);
    box-sizing: border-box;
}

.explore-card-info{
    box-sizing: border-box;
    padding: 15px;
    padding-right: 40px;
    margin: 15px;
    position: relative;
    width: 80%;
    height: 160px;
    color : #fff;
    background-color: rgb(24, 26, 27);
    border: 1px solid rgb(58, 62, 65);
}

.explore-card-info__title{
    font-size: 2.4rem;
    font-family: "Asap Condensed", sans-serif;
    color: #aba499;
    margin-bottom: 15px;
}

.explore-card-info__description{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    color: rgb(221, 218, 214);
}

.explore-card-info__close{
    font-size: 1.5em;
    position: absolute;
    right: 15px;
    top: 15px;
    color: #aba499;
}

.hidden{
    display: none;
}